body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

#showStoreLocatorBtn {
    position: absolute;
    z-index: 1000;
    font-size: 14px;
    color: white;
    background-color: #0a0a42;
    text-transform: uppercase;
    top: 80px;
    left: 100px;
    width: 400px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

#showStoreLocatorBtn:focus, #hideStoreLocatorBtn:focus{
    outline: 0;
}

#hideStoreLocatorBtn{
    position: absolute;
    z-index: 1000;
    font-size: 14px;
    color: white;
    background-color: #f14747;
    text-transform: uppercase;
    top: 80px;
    left: 100px;
    width: 400px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    
}

#store-locator{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}


.title {
    position: absolute;
    z-index: 1000;
    font-size: 45px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    top: 135px;
    left: 100px;
}

.search-container {
    position: absolute;
    z-index: 1000;
    background: #333;
    top: 200px;
    left: 100px;
    height: 60px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    opacity: 0.6;
    transition: 0.5s all ease-in-out;
}

.search-container:hover{
    transform: scale(1.2);
    opacity: 1;
}

.search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    background: transparent;
    border: none;
    color: white;
}

.search-container input:focus{
    outline: none;
}

.search i {
    font-size: 25px;
    color: #fff;
    background-color: rgb(109, 156, 22);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search i:hover {
    background-color: #3e8e41;
}

.search i:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.stores-list-container {
    width: 400px;
    position: absolute;
    z-index: 1000;
    background-color: #0a0a42;    left: 100px;
    top: 300px;
    bottom: 20px;
    border-radius: 30px;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 30px;
    opacity: 0.8;
    transition: 1s all ease-in-out;
}

.stores-list-container:hover{
    opacity: 1;
}



.stores-list-container .stores-list{
    padding-left: 20px;
    padding-right: 20px;
}

.store-container{
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-container i{
    font-size: 50px;
}

.store-container:last-child{
    border-bottom: none;
}

.store-info-container {
    flex-grow: 1;
}

.store-address {
      font-size: 21px;
      color: #c1934d;;
      margin-top: 30px;
}

.store-address span{
    display:block;
}

.store-phone-number{
    color: #B5A;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #454E53;
    color: #B5ADAD;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stores-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}


.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;

}

.store-info-address .circle, .store-info-phone .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1985a1;
    color: white;
    margin-right: 8px;
}

.search i {
    cursor: pointer;
}

.store-container-background {
    display: flex;
    flex-grow: 1;
    padding: 0 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
}

.store-container-background:hover{
    
    
    background-color: rgb(204, 253, 246)
    
    
}